body{
margin:0;
font-family:Poppins;
background:#061a1a;
color:white;
}

/* BLUE GREEN ANIMATED BACKGROUND */

.background-animation{
position:fixed;
width:100%;
height:100%;
background-image:
radial-gradient(#00ffa6 1px, transparent 1px),
radial-gradient(#00d9ff 1px, transparent 1px);
background-size:50px 50px;
animation:bgmove 15s linear infinite;
opacity:0.3;
z-index:-1;
}

@keyframes bgmove{
0%{background-position:0 0, 0 0;}
100%{background-position:300px 300px, -300px 300px;}
}


/* HEADER */

.header{
display:flex;
justify-content:space-between;
padding:20px 50px;
background:#031414;
border-bottom:1px solid #00ffa6;
}


/* LOGO */

.logo-text{
font-size:28px;
color:#00ffa6;
text-shadow:0 0 15px #00ffa6;
}


/* BUTTON */

.btn{
background:linear-gradient(45deg,#00ffa6,#00d9ff);
padding:12px 25px;
border:none;
color:black;
font-weight:bold;
text-decoration:none;
display:inline-block;
border-radius:25px;
}


/* PRODUCT */

.product{
background:#032222;
padding:15px;
border-radius:10px;
box-shadow:0 0 15px #00ffa6;
}

.product img{
width:100%;
border-radius:10px;
}


/* ADMIN */

.admin-container{
max-width:400px;
margin:auto;
padding:20px;
background:#032222;
}
